h1 {
    color: palevioletred;
}

h2 a {
    color: grey;
    padding: 1.2rem;
    border: 1px solid blueviolet;
    display: inline-block;
    width: 20rem;
    text-align: center; 
}

ul li {
    list-style-type: none;
}
